.background {
    -fx-background-color: #3b0152; 
}

.heading {
    -fx-font-size: 24px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: #ffcc00; 
}

.input {
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #fff;
    -fx-border-color: transparent;
    -fx-padding: 10px;
}

.primary-button {
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-background-color: #ffcc00;
    -fx-text-fill: #3b0152; 
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.secondary-button {
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
    -fx-background-color: transparent;
    -fx-text-fill: #ffcc00; 
    -fx-font-size: 14px;
    -fx-border-color: #ffcc00; 
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
.image-view {
    -fx-padding: 10px;
}
